ion-toolbar {
    --background: #f2f2f2;
    color: #ea153e;
}

.wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}


picture {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

picture img {
    width: 60px;
    height: 60px;
}

picture ion-title {
    height: 60px;
    width: calc(80% - 60px);
}

picture ion-title h2 {
    margin: 0;
    font-size: 17px;
    width: 100%;
    height: 20px;
    text-align: start;
}

picture ion-title ion-text {
    margin: 0;
    font-size: 13px;
    color: #333333;
    width: 100%;
    font-size: 15px;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: #f2f2f2;
    color: #333333;
    --background: none;
    --color: none;
}

ion-list {
    width: 100%;
    height: 100%;
    --background: #f2f2f2f2;
    background: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

ion-list ion-item {
    width: 100%;
    padding: 10px;
    --background: #f2f2f2;
    --ion-border-color: #f2f2f2;
    color: #333333;
}

ion-icon {
    color: #333333;
    --color: #333333;
}

.icon-l {
    color: #ea153e;
    --color: #ea153e;
}