<ion-header>
  <ion-toolbar>
    <ion-title> Politica de pirvacidad </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-text>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus ut aperiam quia veniam quaerat,
      iure ullam dolorum, sed itaque fuga commodi delectus. Facere asperiores, qui error nulla labore assumenda nostrum
      fugiat repellendus ab amet delectus rem minima quia, numquam harum. Odio fugiat illo, rem beatae necessitatibus
      praesentium fuga laboriosam omnis, unde dolorem dignissimos tempore exercitationem rerum, tempora ducimus
      voluptatibus ad quidem dolor qui temporibus? Blanditiis at ex quasi iusto, vitae quidem nostrum ut fuga aliquam
      maiores, excepturi repellat distinctio reprehenderit quas consequatur minus sapiente ullam quibusdam. Hic
      aspernatur qui tenetur modi illum harum, magni voluptate voluptatibus? Ratione, quibusdam. Eius pariatur et
      veritatis quod dicta non minus, impedit dolore quidem aut. Quis, eveniet nesciunt sed voluptatum, deserunt culpa
      vel sequi, provident non accusamus praesentium vitae veniam corporis. Nesciunt aliquid dolorem fuga perferendis
      placeat beatae inventore voluptatum, nisi, nihil nam pariatur? Ipsam ex magni consectetur! Commodi enim atque
      recusandae earum aut obcaecati cumque doloribus ipsam, voluptas quae. Eligendi velit at cum maxime asperiores
      laboriosam obcaecati error distinctio? Iusto, in architecto esse repellat molestias natus dignissimos blanditiis,
      nobis similique ad praesentium, sed amet ipsa commodi nulla est? Itaque deleniti illum pariatur harum impedit
      repellendus incidunt obcaecati qui ipsa eius? Laboriosam et odit nostrum.</ion-text>
    <ion-button (click)="dismiss()" class="botones" expand="block">Aceptar</ion-button>
  </div>
</ion-content>