ion-toolbar {
    --background: #f2f2f2;
    color: #333333;
}

picture {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;

}

picture h3 {
    width: 100%;
    margin: 0 5px;
}

picture img {
    margin-top: calc(10% - 15px);
    margin-left: calc(90% - 15px);
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f2f2f2;
    color: #333333;
    --background: none;
    --color: none;
}


.container .boton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.container .boton ion-button {
    width: 80%;
    margin: 10px 0;
    text-transform: initial;
    --background: #2e88d8;
    --color: white;
    --border-radius: 5px;
    --box-shadow: none;
}

ion-footer {
    height: 10%;
    background: #f2f2f2;
    color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

ion-footer ion-button {
    width: 80%;
    margin: 10px 0;
    text-transform: initial;
    --background: #ffffff;
    --color: #333333;
    --border-radius: 5px;
    --box-shadow: none;
}