<ion-header class="ion-no-border">
  <ion-toolbar>
    <picture (click)="finish()">
      <img src="../../../assets/icon/cierre.svg" alt="" width="15" height="15" />
    </picture>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h2>Tus direcciones guardadas</h2>
    <ion-list class="direcciones">
      <ion-item *ngFor="let direccion of arrAdrdress">
        <ion-icon src="../../../assets/icon/marcador.svg" class="direccion-icon"></ion-icon>
          <ion-text class="detalles">
            <h5>{{direccion.calle}} # {{direccion.numero}}</h5>
                Localidad: {{direccion.localidad}}. Municipio: {{direccion.municipio}}.
                <!-- Referencia: {{direccion.refrerencia}} -->
                <div class="botones">
                  <ion-button size="small" (click)="setDefualtAddress(direccion)">usar para entregas</ion-button>
                  <ion-button size="small" (click)="deleteAddress(direccion.id_direccion)">borrar</ion-button>
                </div>
          </ion-text>
      </ion-item>
    </ion-list>
  </div>
</ion-content>


<ion-footer>
  <ion-button (click)="addDirections()"> Agregar una dirección nueva </ion-button>
</ion-footer>