ion-toolbar {
    --background: #f2f2f2;
    color: #ea153e;
}

.wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

picture {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

picture h3 {
    font-size: 16px;
    margin: 0 5px;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: #f2f2f2;
    color: #333333;
    --background: none;
    --color: none;
}

ion-item {
    width: 95%;
    margin: 10% 0;
    color: #333333;
    --background: #e6e6e6;
    --border-radius: 5px;
    --ion-border-color: #333333;
    border-radius: 5px;
}

.search {
    height: 40px;
    text-align: center;
    color: #333333;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    --highlight-color-focused: #e6e6e6;
    margin: 0;
}

.search ion-icon {
    color: #333333;
}

.container ion-item .item-active {
    border: none !important;
}

.banner {
    width: 700px;
    height: 100px;
    --background: #f2f2f2;
    background: #f2f2f2;
}

ion-slides {
    width: 400px;
    margin: 20px 0;
}

ion-slides ion-slide {
    width: 400px;
    height: 175px;
    --color-checked: #f2f2f2;
}

ion-slides ion-slide img {
    width: 100%;
    height: auto;
}

.restaurants {
    width: 95%;
    height: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f2f2f2;
}

.restaurants ion-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 5px 0;
    height: 150px;
    color: #333333;
    --background: #f2f2f2;
    --border-radius: 5px;
    --ion-border-color: #333333;
    border-radius: 5px;

}

.categories {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.categories ion-segment {
    width: 100%;
    height: 100%;
}

.categories ion-segment ion-segment-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    --color-checked: #ea153e;
}

.categories ion-segment ion-segment-button ion-icon {
    width: 70px;
    height: 70px;
    border-radius: 5px;
}

.categories ion-segment ion-segment-button ion-label {
    color: #333333;
    --color: #333333;
    --color-checked: #832d2d;
}

.container .lista {
    width: 100%;
    --background: #f2f2f2;
    background: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.lista ion-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 5px 0;
    height: 150px;
    color: #333333;
    --background: #f2f2f2;
    --border-radius: 5px;
    --ion-border-color: #333333;
    border-radius: 5px;
}

.lista img {
    width: 80px;
    height: 80px;
    margin: 0 10px;
}

.lista ion-item .restaurant-info {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 10px;
}

.restaurants img {
    width: 80px;
    height: 80px;
    margin: 0 10px;
}

.restaurants ion-item .restaurant-info {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 10px;
}

.restaurant-info h3 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}

.restaurant-info ion-text {
    font-size: 13px;
    text-align: start;
}

.restaurant-info ion-button {
    font-size: 10px;
    --border-radius: 5px;
    --box-shadow: none;
    --background: rgb(234, 21, 62);
    --background: linear-gradient(90deg, rgba(234, 21, 62, 1) 0%, rgba(242, 59, 54, 1) 100%);
}