<ion-header>
  <ion-toolbar>
    <ion-title>pedidosInfo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h2>Tus productos</h2>
    <ion-list><ion-list-header><ion-icon name="radio-button-off"></ion-icon></ion-list-header></ion-list>
    <ion-list><ion-list-header><ion-icon name="radio-button-off"></ion-icon></ion-list-header></ion-list>
    <ion-list><ion-list-header><ion-icon name="radio-button-off"></ion-icon></ion-list-header></ion-list>

    <ion-button color="primary" expand="full" (click)="close()"></ion-button>
  </div>
</ion-content>
