<ion-header>
  <ion-toolbar>
    <ion-title> Preguntas frecuentes (faqs)</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-text>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quam nulla illum sint voluptate at cum!
      Nemo a perferendis labore, debitis cumque saepe similique cum ratione veniam omnis odio iure, aliquid soluta
      minima ullam cupiditate fugit repudiandae, nulla facere optio ad nostrum? Aspernatur magnam praesentium eligendi
      autem iusto quis? Doloremque earum ipsa adipisci, laboriosam, minima delectus quidem fugiat laudantium quod id aut
      enim aliquid! Illo distinctio dolorum fuga totam! Magni earum fugiat voluptatem consectetur voluptas accusamus
      consequatur aut porro ipsam fugit ab repudiandae blanditiis labore repellat, aliquid odit pariatur placeat!
      Dolorum inventore at officiis accusamus velit quod nobis esse quidem debitis, aliquid repudiandae rerum animi amet
      in similique, nihil adipisci blanditiis commodi quasi, consectetur necessitatibus pariatur earum molestias libero?
      Facilis sequi natus officiis iusto incidunt dolores ab id exercitationem saepe.</ion-text>
    <ion-button (click)="dismiss()" class="botones" expand="block">Aceptar</ion-button>
  </div>
</ion-content>