<ion-header class="ion-no-border">
  <ion-toolbar>
    <picture>
      <h3>Tu canasta</h3> <img src="../../../assets/icon/cierre.svg" width="15" height="15" (click)="dismiss()">
    </picture>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div *ngIf="itemsCarrito.length === 0" class="mensaje"> No tienes pedidos </div>
    <ion-list class="menu-items" *ngIf="itemsCarrito.length > 0">
      <ion-item *ngFor="let producto of itemsCarrito; index as i">
        <img src="{{producto.foto}}" alt="" />
        <div class="restaurant-info">
          <h3> {{producto.nombre}} </h3>
          <ion-text>
            <strong> ${{producto.precio * producto.cantidad}}.00 </strong></ion-text>
        </div>
        <div class="inc">
          <ion-button class="a1" (click)="decrease(i)" [disabled]="producto.cantidad < 1">
            -
          </ion-button>
          <ion-label> {{producto.cantidad}} </ion-label>
          <ion-button class="a2" (click)="increase(i)">
            +
          </ion-button>
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-footer>
  <ion-button class="botones" expand="block" (click)="checkout()" [disabled]="total === 0">Ir a pagar ${{total}}
  </ion-button>
  <ion-button class="botones" (click)="clearItems()"> Vaciar canasta</ion-button>
</ion-footer>