<ion-header class="ion-no-border">
  <ion-toolbar>
    <div class="wrapper">
      <picture (click)="atras()">
        <img src="../../../assets/icon/itacate-06.svg" alt="" width="15" height="15" />
        <h3>Atrás</h3>
      </picture>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container">
    <h2>Checkout</h2>
    <div class="direccion">
      <ion-item *ngIf="defaultAddresLength === 0">
        <ion-label> Vaya parece que no tienes direcciones agregadas aun </ion-label> <br>
        <ion-button (click)="cambiar()"> Agregar una nueva direccion </ion-button> <br>
      </ion-item>
      <ion-item  *ngIf="defaultAddresLength > 0">
          <ion-icon src="../../../assets/icon/marcador.svg" class="direccion-icon"></ion-icon>
          <ion-text class="">
            Dirección de entrega.
            <ion-label>
              calle: {{defaultAddress.calle}} <br> #{{defaultAddress.numero}} <br> Colonia: {{defaultAddress.colonia}}
            </ion-label>
            <!-- <ion-button (click)="cambiar()">Cambiar</ion-button> -->
          </ion-text>
      </ion-item>
      <ion-text class="tiempo-ent">
        <ion-label>Entrega estimada</ion-label>
        <ion-label>20-30 mins</ion-label> <br>
      </ion-text>
    </div>
    <div class="pagos">
      <ion-list>
      <ion-radio-group allow-empty-selection="false" (ionChange)="change($event)">
        <ion-list-header>
          <ion-label>Forma de pago</ion-label>
        </ion-list-header>

        <ion-item class="pago-option">
          <ion-icon src="../../../assets/icon/itacate-31.svg" slot="start"></ion-icon>
          <ion-label>Efectivo</ion-label>
          <ion-radio slot="end" value="efectivo" mode="ios"></ion-radio>
        </ion-item>

        <ion-item class="pago-option">
          <img src="../../../assets/icon/itacate-30.svg" slot="start" width="20" height="20">
          <ion-label>Tarjeta de Crédito/Débito</ion-label>
          <ion-radio slot="end" value="tarjeta" mode="ios"></ion-radio>
        </ion-item>
        <ion-item class="pago-option">
          <ion-icon src="../../../assets/icon/itacate-29.svg" slot="start"></ion-icon>
          <ion-label>Paypal</ion-label>
          <ion-radio slot="end" value="paypal" mode="ios"></ion-radio>
    </ion-item>
  </ion-radio-group>
      </ion-list>
    </div>
  </div>
</ion-content>
<ion-footer>
<ion-button (click)="doOrder()" [disabled]="order.metodo_pago === ''">
    <div class="btn-wrapper">
      <h4>Hacer pedido</h4>
      <ion-text>${{ precioOrden || 0}}</ion-text>
    </div>
  </ion-button>
</ion-footer>